/* Colors */
$primary: #1b365d;
$secondary: #f2a900;
$complementary-blue-1: #2196f3;
$complementary-blue-2: #096299;
$complementary-orange: #ff7f00;
$corporative-black: #2d2c3a;
$corporative-grey-1: #6d6e71;
$corporative-grey-2: #bcbcbc;
$corporative-grey-3: #e9eef4;
$corporative-white: #ffffff;
$corporative-red: #dd0000;

/* Breakpoints */
$breakpoint-sm: 320px;
$breakpoint-md: 480px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  width: 80vw;
  max-width: 1024px;
  margin: auto;
  padding: 2rem 0;
}

nav {
  margin: 0;
  padding: 1rem 2rem;
  background: $primary;

  &>ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;

    >li,
    >li>* {
      color: $corporative-white;
    }
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;


  &.contained {
    &.primary {
      background-color: $primary;
      color: $corporative-white;
    }

    &.secondary {
      background-color: $secondary;
    }

    &.complementary-blue-1 {
      background-color: $complementary-blue-1;
      color: $corporative-white;
    }
  }

  &.rounded {
    border-radius: 16px;
  }

  &.circle {
    border-radius: 50%;
  }
}

.flex-1 {
  flex: 1;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.text-complementary-orange {
  color: $complementary-orange;
}

.file-input {
  height: 100%;

  &--input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  &--label {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &--caption {
    margin-top: 1rem;
  }
}

img.profile-picture {
  width: 40px;
  height: 40px;
}

.user-documents {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  &--item {
    display: block;
    width: 124px;
    height: 124px;
    color: $corporative-white;
    background-color: $primary;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;

    >* {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: $corporative-white;
    }
  }
}

.modal {
  background: rgba($corporative-black, 0.5);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;

  &--header {
    background-color: $primary;
    color: $corporative-white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--content {
    background-color: white;
    color: black;
    margin: 1rem;
    width: 90vw;
  }
}

.user-information {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  &--name {
    padding: 0.5rem 1rem;
  }
}

.selfie {

  &--status,
  &--instructions,
  &--preview,
  &--actions {
    display: flex;
    justify-content: center;
  }

  &--status {
    background-color: $corporative-grey-3;
    color: $corporative-grey-1;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  &--instructions {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &--preview {
    margin: 1rem 0;
    overflow: clip;
  }

  &--success-message {
    text-align: center;
  }

  &--actions {
    margin-bottom: 1rem;
    flex-direction: column;
  }

}

/* Breakpoints */

@media (max-width: $breakpoint-sm) {

  /* extra-small devices */
  body {
    background-color: purple;
  }

  main {
    width: 90vw;
  }

  .user-documents {
    flex-direction: column;
  }
}


@media (min-width: $breakpoint-sm) {

  /* small devices */
  .user-documents {
    flex-direction: column;
  }
}

@media (min-width: $breakpoint-md) {
  /* medium devices */

  .user-documents {
    flex-direction: row;
  }

  .modal {
    &--content {
      width: 50vw;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  /* large devices */
}

@media (min-width: $breakpoint-xl) {
  /* extra-large devices */
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
} */